/* Utils */
@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/functions';

/* Base */
@import 'base/fonts';
@import 'base/base';
@import 'base/global';

/* Layouts */
@import 'layouts/page';
@import 'layouts/print';

/* Components */
@import 'components/info-tag';
@import 'components/references';
@import 'components/education';
@import 'components/skill-bars';
@import 'components/goodreads-overrides';

span.stars_container {
  span.stars_span {
    margin-bottom: 34px;
    margin-left: 6px;

    span.star {
      margin: 1px;

    }
  }
}

.section-header {
  .section_icon {
    margin-right: 10px;
    margin-left: 5px;

    img {
      width: 20px;
      height: 20px;
    }
  }

  .section_text {
    .section_title {

    }

    .section_subtitle {

    }
  }
}

.work-container, .education-container {

  ul {
    margin: 5px 0 0 10px
  }

}

.hide-on-print {
  @media print {
    visibility: hidden;
    display: none;
  }
}

.show-on-print {
  @media print {
    visibility: visible;
    display: inline-block;
  }
  visibility: hidden;
  display: none;
}
