.good-reads-favorites-root
  //a(rel='nofollow' href='https://www.goodreads.com/')
    //img(alt='goodreads.com' style='border:0' src='https://s.gr-assets.com/images/widget/widget_logo.gif')
  // Favorites Shelf (unsanitized)
  //script(src='https://www.goodreads.com/review/custom_widget/27881183.Favorite%20Books?cover_position=left&cover_size=small&num_books=12&order=random&shelf=favorites&show_author=0&show_cover=1&show_rating=0&show_review=0&show_tags=0&show_title=0&sort=random&widget_bg_color=FFFFFF&widget_bg_transparent=true&widget_border_width=1&widget_id=1682570986&widget_text_color=000000&widget_title_size=small&widget_width=thin' type='text/javascript' charset='utf-8')
  // Favorites Shelf (sanitized/curated)
  script(src="https://www.goodreads.com/review/custom_widget/27881183.Favorite%20Books?cover_position=left&cover_size=small&num_books=12&order=a&shelf=favs&show_author=0&show_cover=1&show_rating=0&show_review=0&show_tags=0&show_title=0&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=true&widget_border_width=1&widget_id=1685546294&widget_text_color=000000&widget_title_size=medium&widget_width=medium" type="text/javascript" charset="utf-8")
