div()
  h3(style='')
    a(href='https://www.goodreads.com/user/show/27881183-dj' rel='nofollow') Good Reads Quotes
  br
  #gr_quote_body
  script(src='https://www.goodreads.com/quotes/widget/27881183-dj?v=2' type='text/javascript')
  div(style='text-align: right;')
    a(href='https://www.goodreads.com/quotes' rel='nofollow')
