#gr_challenge_11633()
  #gr_challenge_progress_body_11633()
    h3()
      a(rel='nofollow' href='https://www.goodreads.com/challenges/11633-2023-reading-challenge') 2023 Reading Challenge
    .challengePic
      a(rel='nofollow' href='https://www.goodreads.com/challenges/11633-2023-reading-challenge')
        img(alt='2023 Reading Challenge' src='https://images.gr-assets.com/challenges/1670887106p2/11633.jpg')
    div
      a(rel='nofollow' href='https://www.goodreads.com/user/show/27881183-dj')
    div()
      div()
        span(style='visibility:hidden') hide
    div()
      a(rel='nofollow' href='https://www.goodreads.com/user_challenges/41781441') 24 of 75 (32%)
    div(style='text-align: right;')
      a(rel='nofollow' href='https://www.goodreads.com/user_challenges/41781441') view books
  script(src='https://www.goodreads.com/user_challenges/widget/27881183-dj?challenge_id=11633&v=2')
