if resume.languages && resume.languages.length
  .container.languages-container
    +title("Languages", 'fa-thin fa-language')
    ul.minimal
      each langs, fluencyLevel in groupLangByFluency(resume.languages)
        h6
          span(style="text-align:left;") #{fluencyLevel}
            span.stars_container(style="float:right;")
              +stars(fluencyLevel)
        div
          - let langNames = langs.map((a) => a.language, 'language')
            each name in langNames
              .w3-tag.w3-tiny #{name}
