.container.references-container
  +title("References", 'fa-light fa-quote-left')
  if resume.references && resume.references.length
    each ref in resume.references
      section.item.clearfix
        if ref.reference
          i.fa.fa-quote-left.pull-left(aria-hidden="true")
          blockquote #{ref.reference}
        if ref.name
          h5.pull-right — #{ref.name}
  else
    p Available upon request
