if resume.basics
  header.resume-header.clearfix
    .profile-header.pull-left
      h1 #{resume.basics.name}
      h2 #{resume.basics.label}
    .profile-pic.pull-right.animate__animated.animate__pulse.animate__infinite.animate__slower
      if resume.basics.picture
        img(src=resume.basics.picture alt="profile-pic")
