if resume.volunteer && resume.volunteer.length
  .container.volunteer-container
    +title("Volunteer")
    each volunteer in resume.volunteer
      section.item
        +section-header(volunteer.organization)
        if volunteer.position
          h5 #{volunteer.position}
        if volunteer.summary
          p.summary #{volunteer.summary}
        if volunteer.highlights.length
          ul
            each highlight in volunteer.highlights
              li #{highlight}
