.good-reads-favorites-root {
  center {
    a {
      img {
        display: none;
      }
    }
  }
}

[class^="gr_custom_container"] {
  //margin-bottom: 1rem;

  /* customize your Goodreads widget container here*/
  //border: 1px solid gray;
  //border-radius: 10px;
  //padding: 10px 5px 10px 5px;
  //background-color: transparent;
  //color: #000000;
  //width: $aside-width - $aside-margin;
  //display: inline-flex;
  max-width: $aside-width - $aside-margin;
  justify-content: center;
}

[class^="gr_custom_header"] {
    //flex-grow: ;
  /* customize your Goodreads header here*/
  //border-bottom: 1px solid gray;
  //width: 100%;
  //margin-bottom: 5px;
  //text-align: center;
  //font-size: 80%
}


[class^="gr_custom_each_container"] {
  display: inline;
  /* customize each individual book container here */
  //width: 100%;
  //clear: both;
  //margin-bottom: 10px;
  //overflow: auto;
  //padding-bottom: 4px;
  //border-bottom: 1px solid #aaa;
}

[class^="gr_custom_book_container"] {
  display: inline;
  /* customize your book covers here */
  //overflow: hidden;
  //height: 60px;
  //float: left;
  //margin-right: 4px;
  //width: 39px;
}

//.gr_custom_author_1682570986 {
//  /* customize your author names here */
//  font-size: 10px;
//}
//
//.gr_custom_tags_1682570986 {
//  /* customize your tags here */
//  font-size: 10px;
//  color: gray;
//}
//
//.gr_custom_rating_1682570986 {
//  /* customize your rating stars here */
//  float: right;
//}
