mixin info-tag(url, icon, text)
  .info-tag-container
    if icon
      i.fa(class=icon)
    if url
      h6.info-text
        a(href=url, target="_blank")
          | #{text}
          i.fa.fa-arrow-up-right-from-square(aria-hidden="true")
    else
      h6.info-text #{text}
