/*----- Colors -----*/

$gray-darkest           : #333;
$gray-darker            : #666;
$gray-dark              : #999;
$gray                   : #ccc;
$gray-light             : #ddd;
$gray-lighter           : #eee;
$gray-lightest          : #f8f8f8;


$primary-color          : #436d66;
$secondary-color        : #39424B;

$link-color             : #2895F1;

/*----- Fonts -----*/

$primary-font               : 'Lato', Helvetica, Arial, sans-serif;
$secondary-font             : 'Josefin Sans', Helvetica, Arial, sans-serif;

/*----- Dimensions and sizes -----*/

$print-width            : 21cm;
$print-height           : 29.7cm;
$page-width             : 612px;
$page-height            : 792px;

$mobile-width           : 435px;
$tablet-width           : 768px;
$laptop-width           : 992px;
$desktop-width          : 1200px;
$retina-width           : 1920px;

$font-unit              : 4.2px;
$profile-pic-size        : 75px;
$aside-width            : 180px;
$aside-margin           : 20px;
$pad-unit               : 5px;

.w3-tag {
  background-color: #436d66 !important;
  font-weight: bold !important;
  font-size: 10px !important;
  color: $gray-lightest !important;
}
